[Unit]
Description=Server using Fleet to launch new Flask containers on demand
Requires=etcd.service
Requires=docker.service
Requires=launcher-discovery@%i.service
After=etcd.service
After=docker.service
Before=launcher-discovery@%i.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Restart=always
RestartSec=1s
ExecStartPre=-/usr/bin/docker kill launcher-%i
ExecStartPre=-/usr/bin/docker rm launcher-%i
ExecStartPre=/usr/bin/docker pull allanino/launcher
ExecStart=/usr/bin/docker run --rm --name launcher-%i -e HOST_IP=${COREOS_PRIVATE_IPV4} -p 5000 -v /usr/bin/fleetctl:/usr/bin/fleetctl allanino/launcher
ExecStop=/usr/bin/docker stop launcher-%i

[X-Fleet]
X-ConditionMachineOf=nginx@%i.service
Conflicts=launcher@*.service
