[Unit]
Description=Launcher registration
Requires=etcd.service
Requires=launcher.service
After=etcd.service
After=launcher.service
BindsTo=launcher.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c 'PORT=$(docker port launcher 5000 | cut -d : -f 2); while [ ${#PORT} -eq 0 ]; do PORT=$(docker port launcher 5000 | cut -d : -f 2); sleep 2; done; while true; do HOST=${COREOS_PRIVATE_IPV4}:$(docker port launcher 5000 | cut -d : -f 2); HTTP_CODE=$(curl -Is $HOST/bogus | grep \'404 File not found\' | cut -d \' \' -f 2); echo HTTP_CODE; if [ "$HTTP_CODE" -eq "404" ]; then etcdctl set /services/launcher $HOST --ttl 15; else etcdctl rm /services/launcher; fi; sleep 10; done'
ExecStop=/usr/bin/etcdctl rm /services/launcher

[X-Fleet]
X-ConditionMachineOf=launcher.service
