[Unit]
Description=Nginx reverse proxy for Flask apps
Requires=etcd.service
Requires=docker.service
Requires=launcher@%i.service
After=etcd.service
After=docker.service
Before=launcher@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
Restart=always
RestartSec=1s
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill nginx-%i
ExecStartPre=-/usr/bin/docker rm nginx-%i
ExecStartPre=/usr/bin/docker pull allanino/nginx
ExecStart=/usr/bin/docker run --name nginx-%i -e HOST_IP=${COREOS_PUBLIC_IPV4} -p ${COREOS_PUBLIC_IPV4}:80:80 \
allanino/nginx /usr/local/bin/confd-watch %i
ExecStop=/usr/bin/docker stop nginx-%i

[X-Fleet]
Conflicts=nginx@*.service
Conflicts=app@*.service
